.hero {
    background-image: url(../../media/img-hero.png);
    border-radius: 40px;
    width: clamp(43rem, -4.286rem + 98.51vw, 84.375rem);
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: clamp(3.75rem, 2.854rem + 3.77vw, 6.25rem);
    padding-bottom: clamp(3.75rem, 2.854rem + 3.77vw, 6.25rem);
    padding-left: clamp(1rem, -0.882rem + 7.92vw, 6.25rem);
    padding-right: clamp(1rem, -0.882rem + 7.92vw, 6.25rem);
    max-width: 730px;
    color: var(--text-light);
}


.hero-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: var(--border-radius);
    background-color: var(--background-body);
    color: var(--text-dark);
    font-weight: 600;
}

.hero-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    border-radius: var(--border-radius);
}

.hero-menu-button .hero-menu-icon{
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.2s ease;
}

.hero-menu-button .hero-menu-text {
    transition: var(--transition);
    transform: translateX(10px);
}

/* .hero-menu-button:hover .hero-menu-icon{
    opacity: 1;
    transform: scale(1);
    transform: translateX(5px);
}

.hero-menu-button:hover .hero-menu-text {
    transform: translateX(-2px);
} */
