.menu h2 {
    text-align: center;
    max-width: 800px;
}
.menu .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.menu-buttons {
    display: flex;
    gap: 16px;
    font-weight: 600;
}
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 90px;
    border-radius: 100px;
    border: 1px solid var(--border-light);
}

.menu-button:hover {
    border: 1px solid var(--background-container);
    background-color: var(--background-container);
    color: var(--text-light);
}


.menu-button-active{
    border: 1px solid var(--background-container);
    background-color: var(--background-container);
    color: var(--text-light);
}

.menu-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 310px;
    border-radius: 40px;
    border: 1px solid var(--border-light)
}
.menu-card-image {
    border-radius: 40px;
    width: 310px;
    height: 310px;
}

.menu-card-content {
    padding: 20px;
}
.menu-card-text {
    height: 80px;
}
.menu-card-price {
    /* margin-top: 36px; */
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.menu-load-more {
    gap: 8px;
    padding: 8px;
    width: 150px;
    border-radius: 100px;
    border: 1px solid var(--border-light);
}

.menu-load-more:hover {
    border: 1px solid var(--background-container);
    background-color: var(--background-container);
    color: var(--text-light);
}

/* ===== MODAL ===== */
.modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
}

.modal-content {
    position: relative;
    background: #fff;
    color: #403F3D;
    border-radius: 16px;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 0.3s ease;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #403F3D;
}

.modal-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.modal-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}