/* Сброс и нормализация стилей */


/* Убираем отступы и делаем box-sizing удобным */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
/* Убираем скачок интерфейса по горизонтали при появлении / исчезновении скроллбара */
    scrollbar-gutter: stable;
/* Плавный скролл */
    scroll-behavior: smooth;
}

/* Делаем 100% высоты для body и html */
html, body {
    height: 100%;
}



/* Убираем стили заголовков и параграфов*/
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

/* Убираем стандартное оформление ссылок */
a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Делаем картинки и медиа отзывчивыми */
img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Чиним баг задержки смены цвета при взаимодействии с svg-элементами */
svg * {
    transition-property: fill, stroke;
}

/* Убираем стандартные стили списков и внутренние отсупы*/
ul, ol {
    list-style: none;
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Убираем обводку у кнопок/инпутов по умолчанию */
button, input, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    padding: 0;
    color: inherit;
    background-color: transparent;
}

/* Кнопки кликабельные */
button {
    cursor: pointer;
}

/* Убираем кавычки у цитат */
blockquote, q {
    quotes: none;
}

/* Таблицы */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
    [fill="none"],
    [fill^="url"]
)) {
    fill: currentColor;
}

/*
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
 */
:where([stroke]:not(
    [stroke="none"],
    [stroke^="url"]
)) {
    stroke: currentColor;
}



